@* Usings *@
@using MongoDB.Bson
@using Scripts.DataBase
@using FoodTracker.Components.UserFeedback

@* Injects *@
@inject DBManager dbManager

<button @onclick="Delete">Delete</button>
<MessageDisplayer messages="_lastDeleteStatus.messages" ClearStatus="ClearStatus"/>

@code {
    [Parameter] public ObjectId foodItemID { get; set; }
    [Parameter] public Action OnDeleteComplete { get; set; } = () => {};

    private (bool success, List<string> messages) _lastDeleteStatus = (false, new List<string>());    

    private async void Delete()
    {
        _lastDeleteStatus = await dbManager.FoodItemManager.TryDeleteItem(foodItemID);
        OnDeleteComplete();
    }

    private void ClearStatus()
    {
        _lastDeleteStatus = (false, new List<string>());
    }
}
