<div>
    <div>
        <a class="navbar-brand" href="">FoodTracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div onclick="document.querySelector('.navbar-toggler').click()">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div>
            <NavLink href="FoodTracker" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Tracker
            </NavLink>
        </div>
    </nav>
</div>

