<div class="Head">
    <div>
        <a class="navbar-brand" href="">FoodTracker</a>
    </div>
</div>

<div class="Bar">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div>
            <NavLink href="FoodTracker" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Tracker
            </NavLink>
        </div>

        <div>
            <NavLink href="AddFoodItem" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Create Food Item
            </NavLink>
        </div>
    </nav>
</div>

