@page "/AddFoodItem"
@rendermode InteractiveServer

@* Usings *@
@using Scripts.DataBase
@using FoodTracker.Components.FoodStuff

@* Injects *@
@inject DBManager dbManager

<PageTitle> Create Food Item </PageTitle>

<content>    
    <h3>Modify Food Items</h3>
    
    <FoodItemAdder OnAddComplete="LoadFoodItems" />    

    @* Toggle deletes *@
    <button onclick=@ToggleAllowDeletes>Allow deletes: @_allowDeletes</button>

    @* Edit food items *@
    @if (_foodItems != null)
    {
        foreach (MongoFoodItem foodItem in _foodItems)
        {
            <FoodItemEditor foodItem="foodItem" />
            if (_allowDeletes)
            {
                <FoodItemDeletor foodItemID="foodItem.Id" OnDeleteComplete="LoadFoodItems" />
            }

        }
    }
</content>



@code {
    [SupplyParameterFromForm]
    private MongoFoodItem? _foodItemToAdd { get; set; } = new MongoFoodItem();
    private List<MongoFoodItem> _foodItems = new List<MongoFoodItem>();

    private bool _allowDeletes = false;

    private void ToggleAllowDeletes()
    {
        _allowDeletes = !_allowDeletes;
    }

    private async void LoadFoodItems()
    {
        _foodItems.Clear();
        _foodItems = await dbManager.FoodItemManager.GetAllItems();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        LoadFoodItems();
    }
}
