@page "/AddFoodItem"
@rendermode InteractiveServer

@* Usings *@
@using Scripts.DataBase

@* Injects *@
@inject DBManager dbManager

<PageTitle> Create Food Item </PageTitle>

<h3>Create A Food Item</h3>

<form method="post" @onsubmit="Submit" @formname="create-new-foodItem">
    <AntiforgeryToken />
    <div>
        <label>
            Name:
            <InputText @bind-Value="foodItem!.Name"></InputText>
        </label>
        <label>
            Calories:
            <InputNumber @bind-Value="foodItem!.Calories"></InputNumber>
        </label>
        <label>
            Protein:
            <InputNumber @bind-Value="foodItem!.Protein"></InputNumber>
        </label>
        <label>
            Carbs:
            <InputNumber @bind-Value="foodItem!.Carbs"></InputNumber>
        </label>
        <label>
            Fat:
            <InputNumber @bind-Value="foodItem!.Fat"></InputNumber>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<div>
    @if(insertStatus?.messages != null)
    {
        foreach (string message in insertStatus?.messages)
        {
            <div>@message</div>
        }
        <button onclick="@ClearInsertStatus">Got it!</button>
    }

</div>

@code {
    [SupplyParameterFromForm]
    private MongoFoodItem? foodItem { get; set; } = new MongoFoodItem();

    private (bool success, List<string> messages)? insertStatus;

    private void Submit()
    {
        if (foodItem == null) return;

        foodItem.Id = new();
        insertStatus = dbManager.TryInsertFoodItem(foodItem);
    }

    private void ClearInsertStatus()
    {
        insertStatus = null;
    }
}
